<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
    <title>About</title>
</head>
<body>
    {{>header}}
    <div class="hero">
        <p>This is a simple app that will display the weather, depending on your location</p>
        <p>API that used in this app</p>
        <ul><li><span>Weather Stack API</span></li>
        <li><span></span>Geo Code API</li></ul>
    </div>

    {{>footer}}
</body>
</html>