<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
    <title>Weather</title>
   
</head>
<body>
    {{>header}}
    <div class="hero">
        <p>This app will show you weather</p>
        <form class="search__form" >
            <input type="text" placeholder="Adress" class="search__input">
            <button type="submit">Search</button>
        </form>
        <p class="location__paragraph"></p>
        <p class="forecast__paragraph"></p>
    </div>

    {{>footer}}
    <script src="js/script.js"></script>
</body>
</html>
