<header>
    <h1>{{title}}</h1>
    <nav class="topnav">
        <ul class="topnav__list">
            <li class="topnav__item"><a href="/">Weather</a></li>
            <li class="topnav__item"><a href="/about">About</a></li>
            <li class="topnav__item"><a href="/help">Help</a></li>
        </ul>
    </nav>
</header>